* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  font-family: sans-serif;
  height: 100vh;
  background-color: grey;
}

a {
  text-decoration: none;
}

h1 {
  display: inline-block;
  color: white;
  font-family: Tahoma;
}

p {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace
}

label {
  display: block;
  font-size: small;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#app,
.App {
  height: 100%;
}

div.form-row {
  justify-content: center;
}

.btn-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.nav-container {
  background-color: #212529;
}

.nav {
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 5px;
  border-bottom: 5px solid white
}

.list-container {
  display: flex;
  justify-content: center;
}

.row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  background-color: white;
  border: 20px solid grey;
  border-radius: 50px;
}

.list-group {
  margin-left: 20px;
  margin-right: 20px;
}

.list-group-item {
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}